{% extends "_base.html" %} {% load static %} {% block navbar %}
<nav class="navbar bg-base-100">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl" href="/"
      ><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 inline-block" viewBox="0 0 24 24"><path fill="currentColor" d="m9.55 12l7.35 7.35q.375.375.363.875t-.388.875q-.375.375-.875.375t-.875-.375l-7.7-7.675q-.3-.3-.45-.675t-.15-.75q0-.375.15-.75t.45-.675l7.7-7.7q.375-.375.888-.363t.887.388q.375.375.375.875t-.375.875z" /></svg>Back</a
    >
  </div>
  <div class="navbar-center">
    <h1 class="font-bold">Pengguna Forum Baca</h1>
  </div>
  <div class="navbar-end">
    
  </div>
</nav>
 {% endblock navbar %} {% block content %}
<section class="container">
  <ul class="flex flex-col gap-4 my-4 w-full">
    {% for profile in list_user %}

    <li class="bg-base-100 rounded-2xl p-4 shadow-lg">
      <div class="flex items-center justify-between space-x-4 rtl:space-x-reverse">
        <div class="flex-shrink-0">
          <figure class="avatar">
            <div class="w-24 h-24 rounded-full">
              {% if profile.userprofile.profile_picture %}
              <img class="" src="{{profile.userprofile.profile_picture.url}}" alt="{{profile.username}}e" />
              {% else %}
              <img class="" src="{% static "assets/profile.jpg" %}" alt="{{profile.username}}" />
              {% endif %}
            </div>
          </figure>
        </div>
        <div class="text-center min-w-0">
          <h3 class="text-sm font-bold  truncate">{{profile.first_name}}   <span>
            {% if profile.is_staff %}
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-sky-500 inline" viewBox="0 0 24 24">
              <path
                d="M10.007 2.104a3 3 0 0 0-3.595 1.49L5.606 5.17a1 1 0 0 1-.436.436l-1.577.806a3 3 0 0 0-1.49 3.595l.546 1.685a1 1 0 0 1 0 .616l-.545 1.685a3 3 0 0 0 1.49 3.595l1.576.806a1 1 0 0 1 .436.436l.806 1.577a3 3 0 0 0 3.595 1.49l1.685-.546a1 1 0 0 1 .616 0l1.685.545a3 3 0 0 0 3.595-1.489l.806-1.577a1 1 0 0 1 .436-.436l1.577-.805a3 3 0 0 0 1.49-3.596l-.546-1.685a1 1 0 0 1 0-.616l.545-1.685a3 3 0 0 0-1.489-3.595l-1.577-.806a1 1 0 0 1-.436-.436l-.805-1.577a3 3 0 0 0-3.596-1.49l-1.685.546a1 1 0 0 1-.616 0zM6.76 11.757l1.414-1.414l2.828 2.829l5.657-5.657l1.415 1.414l-7.072 7.07z" />
            </svg>
            {% endif %}
            {% if profile.is_superuser %}
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-yellow-500 inline" viewBox="0 0 256 256"><path  d="m235.39 84.07l-28.15 24l8.43 35.73a13.09 13.09 0 0 1-5 13.58a13.25 13.25 0 0 1-14.63.7l-32-19l-32 19a13.25 13.25 0 0 1-14.63-.7a13.1 13.1 0 0 1-5-13.58l8.43-35.73l-28.16-24A13.13 13.13 0 0 1 100.1 61l37.23-3.15L151.85 24a13.24 13.24 0 0 1 24.31 0l14.52 33.87L227.9 61a13.12 13.12 0 0 1 7.49 23.06ZM85.66 114.34a8 8 0 0 0-11.32 0l-56 56a8 8 0 0 0 11.32 11.32l56-56a8 8 0 0 0 0-11.32m16 56a8 8 0 0 0-11.32 0l-56 56a8 8 0 0 0 11.32 11.32l56-56a8 8 0 0 0 0-11.32m60.69 0l-56 56a8 8 0 0 0 11.32 11.32l56-56a8 8 0 0 0-11.31-11.32Z"/></svg>
            {% endif %}
          </span></h3>
          <p class="text-sm text-gray-500 truncate">@{{profile.username}}</p>
        </div>
        <a href="{% url "profile" username=profile.username %}" class="inline-flex items-center text-base font-semibold ">See Full Profile</a>
      </div>
    </li>
    {%empty%}
    No user Found
    {% endfor %}
  </ul>
</section>
{% endblock content %}
